@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  outline: solid 1px black;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: linear-gradient(
  45deg,
  hsl(292deg 80% 25%) 0%,
  hsl(313deg 100% 28%) 11%,
  hsl(324deg 100% 36%) 22%,
  hsl(337deg 78% 47%) 33%,
  hsl(352deg 86% 59%) 44%,
  hsl(8deg 100% 63%) 56%,
  hsl(23deg 100% 60%) 67%,
  hsl(36deg 100% 55%) 78%,
  hsl(47deg 100% 50%) 89%,
  hsl(55deg 100% 50%) 100%
);
}
